---
layout: default
title: Archive
permalink: /archive
---

<div class="archive">
  <h2>Archive</h2>

  {% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
  {% for year in posts_by_year %}
  <h3 class="archive-year">{{ year.name }}</h3>
  {% for post in year.items %}
  <div class="archive-entry">
    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d %b" }}</time>
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
  </div>
  {% endfor %}
  {% endfor %}
</div>
