---
layout: default
---

<article>
  <header>
    <h2>{{ page.title }}</h2>
    <div class="meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d %b %Y" }}</time>
      {% for tag in page.tags %}<span class="tag">{{ tag }}</span>{% endfor %}
    </div>
  </header>

  {{ content }}
</article>

<nav class="post-nav">
  {% if page.previous %}
    <a href="{{ page.previous.url | relative_url }}" class="post-nav-prev">« {{ page.previous.title }}</a>
  {% else %}
    <span></span>
  {% endif %}
  {% if page.next %}
    <a href="{{ page.next.url | relative_url }}" class="post-nav-next">{{ page.next.title }} »</a>
  {% else %}
    <span></span>
  {% endif %}
</nav>
